@model ProductListModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-3 mt-4">
       @await Component.InvokeAsync("CategoryList")
    </div>
    <div class="col-md-9" >
        <partial name="_slider" />
        <div class="row ">
            @foreach (var productItem in Model.Products)
            {
                <partial name="_product" for="@productItem" />
            }
        </div>
    </div>
</div>

